<%
getBackgroudClass = function (value) {
  const round = Math.round(value / 2) * 2;
  let result = '';

  if (round < 0) {
    result = 'minus';
  } else {
    result = 'plus-';
  }

  return result.concat(round.toString());
};
%>
<!DOCTYPE html>

<html lang="cs" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Aktuální počasí na rozhledně Haniperk" />
    <meta name="author" content="Pave Sláma" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <link href="/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/favicon/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="/favicon/apple-touch-icon-1024x1024.png" />
    <title>Rozhledna Haniperk</title>
  </head>
  <body>
    <div id="fullpage">
      <div class="section home <%= getBackgroudClass(latest.temp) %>" data-anchor="home">
        <a href="#" id="logo"><img src="/logo.svg" alt="Logo Haniperk" /></a>
        <div class="split">
          <div class="column">
            <p class="mb-0">Teplota<br /><span class="number" id="temperature"><%= latest.temp %>&deg;C</span></p>
            <div class="mt-0 split2">
              <p class="column extrema maximum">
                <span class="triangle"></span>
                <span class="max" title="<%= extrema.temp.max.time %>"><%= extrema.temp.max.value %>&deg;C</span>
              </p>
              <p class="column extrema minimum">
                <span class="triangle"></span>
                <span class="min" title="<%= extrema.temp.min.time %>"><%= extrema.temp.min.value %>&deg;C</span>
              </p>
            </div>
          </div>
          <div class="column">
            <p class="mb-0">Vlhkost<br /><span class="number" id="humidity"><%= latest.humidity %>&percnt;</span></p>
            <div class="mt-0 split2">
              <p class="column extrema maximum">
                <span class="triangle"></span>
                <span class="max" title="<%= extrema.humidity.min.time %>"
                  ><%= extrema.humidity.max.value %>&percnt;</span
                >
              </p>
              <p class="column extrema minimum">
                <span class="triangle"></span>
                <span class="min" title="<%= extrema.humidity.min.time %>"
                  ><%= extrema.humidity.min.value %>&percnt;</span
                >
              </p>
            </div>
          </div>
        </div>
        <p class="last-update">Poslední aktualizace <span><%= latest.time %></span></p>
      </div>
      <div class="section fp-auto-height footer" data-anchor="footer">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10444.144536317575!2d14.1172053!3d49.1239489!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaa77953752e80b06!2sRozhledna%20Haniperk!5e0!3m2!1scs!2scz!4v1602527787989!5m2!1scs!2scz"
          width="100%"
          height="450"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
        <div class="credits">&copy; Radioklub Vodňany <a href="http://ok1kfb.cz">OK1KFB</a></div>
      </div>
    </div>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://rozhlednahapiperk.cz",
        "logo": "https://rozhlednahapiperk.cz/logo-blue.svg"
      }
    </script>
    <script src="/index.js"></script>
  </body>
</html>
